:root {
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --accent-color: #19f70a;
    --error-color: #ff5252;
    --success-color: #4caf50;
    --border-radius: 8px;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(20, 20, 20);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
  }
     
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(4, 201, 4)
  }

  h1:hover {
    color: rgb(92, 253, 92);
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  input {
    width: 320px;
    padding: 16px;
    border: 1px solid #333;
    border-radius: var(--border-radius);
    background-color: #2d2d2d;
    color: var(--text-color);
    font-size: 16px;
    margin-top: 8px;
  }
  
  input:focus {
    outline: none;
    border-color: var(--accent-color);
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  
  button {
    width: 20%;
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-size: small;    
  }

  .btnCriar{
    width: 250px;
    font-size: 20px;
  }


  .btnEditar{
    width: 50px;
  }

  button:hover {
    background-color: #4efd7a;
    color: black;
  }
  
  li {
    list-style: none;
    width: 650px; 
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
  }
  